body {
    font-family: Arial, sans-serif;
}



#packet-info {
    border-radius: 5px;
    max-height: 80vh; /* Set a maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

